[Desktop Entry]
Type=Application
Categories=AudioVideo
Comment=sfArk decompressor to sf2
Encoding=UTF-8
Exec=sfark-extractor
Icon=/usr/share/pixmaps/sfark-extractor.png
Name=SfArkExtractor
Terminal=false
Version=0.1
